In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', 150)
pd.set_option('display.max_rows', 20)
pd.set_option("display.max_colwidth", 8000)

In [2]:
df1= pd.read_csv('transfused.csv')
df2= pd.read_csv('nontransfused.csv')

In [3]:
df1 = df1.rename(columns={'unabridgedUnitLOS':'unabridgedunitlos','unabridgedHospLOS':'unabridgedhosplos'
                          ,'apacheScore':'apachescore','unitType':'unittype'})
df1['transfusedmarker']=1
df1.head()

,patientunitstayid,uniquepid,unabridgedunitlos,unabridgedhosplos,unittype,age,teachingflag,gender,ethnicity,apachescore,hgbmin,ventmarker,septicflag,anyacuteischemiccondition,activecardiacischemia,cirrhosisflag,chfflag,ckdflag,hypovoflag,traumaflag,surgeryflag,vasopressor,expiremarker,transfusedmarker
0,448264,005-11352,27.9277,71.3431,Med-Surg ICU,79,0,Male,Hispanic,113,7.4,1,1,0,0,0,0,0,0,0,0,1,0,1
1,441990,005-12800,2.9694,12.6694,Med-Surg ICU,85,1,Female,Hispanic,62,7.5,1,0,0,0,0,0,0,0,0,1,1,0,1
2,469944,005-13678,1.0451,16.1694,Med-Surg ICU,57,1,Female,Hispanic,71,7.3,0,0,0,0,0,0,0,0,0,0,0,0,1
3,510771,005-14454,2.2854,16.0319,Med-Surg ICU,67,0,Male,Hispanic,88,7.2,1,0,0,0,0,0,0,0,0,0,1,0,1
4,498353,005-18441,1.3645,7.7993,CTICU,46,0,Female,Hispanic,55,7.9,0,1,0,0,0,0,0,0,0,0,0,0,1

In [4]:
df2 = df2.drop('Unnamed: 0', axis=1)
df2 = df2.drop('unitdischargestatus', axis=1)
df2['transfusedmarker']=0
df2.head()

,patientunitstayid,uniquepid,unabridgedunitlos,unabridgedhosplos,unittype,age,teachingflag,gender,ethnicity,apachescore,hgbmin,ventmarker,septicflag,anyacuteischemiccondition,activecardiacischemia,cirrhosisflag,chfflag,ckdflag,hypovoflag,traumaflag,surgeryflag,vasopressor,expiremarker,transfusedmarker
0,425097,005-85376,6.1826,7.4021,Med-Surg ICU,68.0,0,Female,Other/Unknown,97,12.3,1,0,0,0,0,0,0,0,0,0,0,0,0
1,425114,005-17876,2.0027,4.8715,Med-Surg ICU,77.0,0,Male,Caucasian,66,12.6,0,1,0,0,0,0,0,1,0,0,1,0,0
2,425116,005-8780,5.3888,8.7729,Med-Surg ICU,45.0,0,Female,African American,69,8.3,0,0,0,0,0,0,0,0,1,0,0,0,0
3,425129,005-11610,1.1555,6.0632,Neuro ICU,51.0,0,Female,Hispanic,27,8.9,0,0,0,0,0,0,0,0,0,1,0,0,0
4,425148,005-7155,0.7847,4.9458,Med-Surg ICU,89.0,1,Male,Hispanic,56,9.7,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
dframe = pd.concat([df1,df2],sort=False)
dframe.to_csv('alldata.csv')